/* Google Font Link */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins" , sans-serif;
}

body{
  background: #1a1b1f;
  padding: 0;
  margin: 0;

}

/* IMG PS5 */
.ps5 {
  width: 25px;
  margin-left: 10px;
  margin-top: 26px;
}

/* Linha da NavBar */
.linha {
  width: 1px;
  height: 1000px;
  background-color: #25262c;
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  top: -105px;
  margin: 0 0px 0px 88px;
}

/* NavBar lateral */
.sidebar{
  position: fixed;
  left: 0;
  top: 0;
  height: 100%;
  width: 78px;
  background: #1a1b1f;
  padding: 6px 14px;
  z-index: 99;
  transition: all 0.5s ease;
}
.sidebar.open{
  width: 250px;
}
.sidebar .logo-details{
  height: 60px;
  display: flex;
  align-items: center;
  position: relative;
}
.sidebar .logo-details .icon{
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar .logo-details .logo_name{
  color: #fff;
  font-size: 20px;
  font-weight: 600;
  opacity: 0;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details .icon,
.sidebar.open .logo-details .logo_name{
  opacity: 1;
}
.sidebar .logo-details #btn{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  font-size: 22px;
  transition: all 0.4s ease;
  font-size: 23px;
  text-align: center;
  cursor: pointer;
  transition: all 0.5s ease;
}
.sidebar.open .logo-details #btn{
  text-align: right;
}
.sidebar i{
  color: #fff;
  height: 60px;
  min-width: 50px;
  font-size: 28px;
  text-align: center;
  line-height: 60px;
}
.sidebar .nav-list{
  margin-top: 200px;
  height: 100%;
}
.sidebar li{
  position: relative;
  margin: 10px 0;
  list-style: none;
}
.sidebar li .cor-icon{
  position: absolute;
  top: -20px;
  left: calc(100% + 15px);
  z-index: 3;
  background: #fff;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.3);
  padding: 6px 12px;
  border-radius: 4px;
  font-size: 15px;
  font-weight: 400;
  opacity: 0;
  white-space: nowrap;
  pointer-events: none;
  transition: 0s;
}
.sidebar li:hover .cor-icon{
  opacity: 1;
  pointer-events: auto;
  transition: all 0.4s ease;
  top: 50%;
  transform: translateY(-50%);
}
.sidebar.open li .cor-icon{
  display: none;
}
.sidebar input{
  font-size: 15px;
  color: #FFF;
  font-weight: 400;
  outline: none;
  height: 50px;
  width: 100%;
  width: 50px;
  border: none;
  border-radius: 12px;
  transition: all 0.5s ease;
  background: #1d1b31;
}
.sidebar.open input{
  padding: 0 20px 0 50px;
  width: 100%;
}

.sidebar li a{
  display: flex;
  height: 100%;
  width: 100%;
  border-radius: 12px;
  align-items: center;
  text-decoration: none;
  transition: all 0.4s ease;
  background: #11101D;
}

.sidebar li a .links_name{
  color: #fff;
  font-size: 15px;
  font-weight: 400;
  white-space: nowrap;
  opacity: 0;
  pointer-events: none;
  transition: 0.4s;
}
.sidebar.open li a .links_name{
  opacity: 1;
  pointer-events: auto;
}
.sidebar li a:hover .links_name,
.sidebar li a:hover i{
  transition: all 0.5s ease;
  color: #11101D;
}
.sidebar li i{
  height: 50px;
  line-height: 50px;
  font-size: 18px;
  border-radius: 12px;
}
.sidebar li.profile{
  position: fixed;
  height: 60px;
  width: 78px;
  left: 0;
  bottom: -8px;
  padding: 10px 14px;
  background: #1d1b31;
  transition: all 0.5s ease;
  overflow: hidden;
}
.sidebar.open li.profile{
  width: 250px;
}
.sidebar li .profile-details{
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
}
.sidebar li img{
  height: 45px;
  width: 45px;
  object-fit: cover;
  border-radius: 6px;
  margin-right: 10px;
}
.sidebar li.profile .name,
.sidebar li.profile .job{
  font-size: 15px;
  font-weight: 400;
  color: #fff;
  white-space: nowrap;
}
.sidebar li.profile .job{
  font-size: 12px;
}
.sidebar .profile #log_out{
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  background: #1d1b31;
  width: 100%;
  height: 60px;
  line-height: 60px;
  border-radius: 0px;
  transition: all 0.5s ease;
}
.sidebar.open .profile #log_out{
  width: 50px;
  background: none;
}
.home-section{
  position: relative;
  background: #E4E9F7;
  min-height: 100vh;
  top: 0;
  left: 78px;
  width: calc(100% - 78px);
  transition: all 0.5s ease;
  z-index: 2;
}
.sidebar.open ~ .home-section{
  left: 250px;
  width: calc(100% - 250px);
}
.home-section .text{
  display: inline-block;
  color: #11101d;
  font-size: 25px;
  font-weight: 500;
  margin: 18px
}
@media (max-width: 420px) {
  .sidebar li .cor-icon{
    display: none;
  }
}

/* Icons */
.sidebar .fa-home{
  position: absolute;
  transform: translateY(-50%);
  font-size: 22px;
  background: #0E81EC;
  color: #FFF;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}
.sidebar .fa-shopping-bag{
  font-size: 22px;
  background: #1a1b1f;
  color: #31343C;
}

.sidebar .fa-gamepad{
  font-size: 22px;
  background: #1a1b1f;
  color: #31343C;
}

.sidebar .bxs-camera{
  font-size: 22px;
  background: #1a1b1f;
  color: #31343C;
}

.sidebar .fa-chart-pie{
  font-size: 22px;
  background: #1a1b1f;
  color: #31343C;
}

.sidebar .fa-user{
  font-size: 22px;
  background: #1a1b1f;
  color: #31343C;
}


/* :hover */
.sidebar.open .fa-home:hover{
  background: #1d1b31;
  color: #31343C;
}
.sidebar .fa-home:hover{
  background: #FFF;
  color: #11101d;
}

.sidebar.open .fa-shopping-bag:hover{
  background: #1d1b31;
  color: #0E81EC;
}
.sidebar .fa-shopping-bag:hover{
  background: #0E81EC;
  color: #fff;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}

.sidebar.open .fa-gamepad:hover{
  background: #1d1b31;
  color: #0E81EC;
}
.sidebar .fa-gamepad:hover{
  background: #0E81EC;
  color: #fff;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}

.sidebar.open .bxs-camera:hover{
  background: #1d1b31;
  color: #0E81EC;
}
.sidebar .bxs-camera:hover{
  background: #0E81EC;
  color: #fff;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}

.sidebar.open .fa-chart-pie:hover{
  background: #1d1b31;
  color: #0E81EC;
}
.sidebar .fa-chart-pie:hover{ 
  background: #0E81EC;
  color: #fff;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}

.sidebar.open .fa-user:hover{
  background: #1d1b31;
  color: #0E81EC;
}
.sidebar .fa-user:hover{
  background: #0E81EC;
  color: #fff;
  box-shadow: 0 0 0.8em rgb(72, 166, 255);
}

.sidebar li a:hover{
  background: #0E81EC;
}


/* Barra de Pesquisa */
.search-box {
  position: absolute;
  top: 6%;
  left:  23%;
  transform:  translate(-50%, -50%);
  background: #232429;
  height: 45px;
  border-radius: 40px;
  padding: 10px;

}

.search-btn {
  color: #565662;
  float: left;
  width: 45px;
  height: 30px;
  border-radius: 50%;
  background: #232429;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-size: 1.7rem;
}

.search-btn:hover {
  color: none;
  text-decoration: none;
}

.search-txt {
  border: none;
  background: none;
  outline: none;
  float: right;
  padding: 0;
  color: #565662;
  font-size: 16px;
  transition: 0.4s;
  line-height: 28px;
  width: 290px;
  font-weight: bold;
}

.search-box:hover > .search-txt {
  width: 240px;
  padding:  0 6px;
}

/* container do gradient */
.container-social{
  margin: 70px 1px;
  padding: 0px;
  width: 360px;
  float: right;
  height: 610px;
}


.gradient {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 686px;
  width: 360px;
  border-radius: 30px;                                      /*444757*/

  /* Colors generated on: https://colorhunt.co/palette/179481 */
  background: linear-gradient(45deg, #5B6270, #1e1f24, #2A2C36, #5B6270);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
  box-shadow: 0 0 0.40em #2b2b2b

}

@keyframes colors {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.Social {
  margin-bottom: 600px;
  color: #636573;
  font-weight: bold;
  margin-left: 30px;
}

.gradient-rocket {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 65px;
  width: 310px;
  border-radius: 20px;                                      /*444757*/
  margin-top: -600px;
  margin-left: 33px;

  /* Colors generated on: https://colorhunt.co/palette/179481 */
  background: linear-gradient(45deg, #5B6270, #383b45, #5B6270, #454852);
  background-size: 300% 300%;
  animation: colors 15s ease infinite;
  box-shadow: 0 0 0.40em #2b2b2b
}

.porcentagem {
  width: 50px;
  height: 50px;
  margin-left: 30px;
  border-radius: 30%;
}

.Rocket-text {
  font-size: smaller;
  color: #c9c9d5;
  margin-bottom: 13px;
  margin-right: 13px;
}

.min-text {
  font-size: x-small;
  margin-top: 40px;
  margin-right: 80px;
}

.restantes{
  margin-bottom: 425px;
  font-size: 0.7rem;
  margin-right: 185px;
  color: #686b75;
}

.online {
  color: #636573;
  font-weight: bold;
  margin-left: 30px;
  margin-top: 35px;
  height: 300px;
}

.pain {
  width: 50px;
  height: 50px;
  border-radius: 30px;
  margin-top: 10px;
}

.yahiko {
  margin-top: -55px;
  margin-left: 70px;
  color: #BDBDC6;
  font-size: 1.0em;
}

.jogadores {
  color: #636572;
  font-size: 0.7em;
  margin-left: 70px;
  margin-bottom: 5px;
}
