<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <title>Cronômetro</title>
</head>
<body>
    <div class="cronometro">
        <h1>Cronômetro</h1>
        <p><span id="segundos">00</span>:<span id="mileseg">00</span></p>
        <button id="button-start">Começar</button>
        <button id="button-stop">Pausar</button>
        <button id="button-reset">Resetar</button>
    </div>
    <script src="../JS/cronometro.js"></script>
</body>
</html>