h1{
    color: #4432a8;
    color: blueviolet;
    margin: auto;
    width: 960px;
    padding: 10px;
} 

.borda{
    color: blueviolet;
    margin: auto;
    width: 960px;
    padding: 10px;
    border: 2px solid black;
    padding: 10px;
    border-top:2px solid black;
}

.Email{
    width: 60%;
}

.termos{
    width: 60%;
}

#Senha{
    width: 60%;
}

#a{
    color: red;
}

#a:hover{
    color: red;
}


