<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/home.css">
    <title>CROWN.</title>
</head>
<body>
<main>
    <div class="container">
        
        <h2 class="crown">crown.</h2>

        <p class="Metaverse">M e t a v e r s e</p>

        <h1 class="crie">Crie <br>Seu Próprio <br>Personagem</h1>
        
        <p class="frase-small">Jogue, Crie e Possua Seu Personagem <br> Personalizado Feito por Nossos Artistas Profissional </p>

        
            <a href="../VIEW/sign.html" class="entra-sign">
        <button class="btn btn1"><b>Explorar</b></button>
        </a>
  
        <div class="home">
    <a href="#">Home</a>
        </div>

        <div class="battle">
    <a href="#">Battle</a>
    </div>

    <div class="land">
    <a href="#">Land</a>
    </div>

    <div class="more">
    <a href="#">More</a>
        
    <div class="circulo">
    </div>

    <i class='bx bx-world'></i>
    
    <button class="btn btn2">Play Now</button>
       
</div>

</main>

</body>
</html>