<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
    <link rel="stylesheet" type="text/CSS" href="../CSS/geral.css">
    <link rel="stylesheet" type="text/CSS" href="../CSS/bootstrap-5.1.3-dist/bootstrap/bootstrap.css">
<!-- <button tyoe="submit class="btn btn-secondary">Sign in</buton>-->
</head>
<!-- Boostrap download // site -->
<body>
    
    <div id="fundo">

   <h1>Cadastro</h1>
    
   <div class="borda">
   <form class="row g-3">

    <div class="nome">
      <label for="inputEmail4" class="form-label">Nome</label>
      <input type="email" class="form-control" id="inputEmail4">
    </div>

    <div class="Email">
      <label for="email" class="form-label">Email</label>
      <input type="email" class="form-control" id="email">
    </div>

    <div class="Endereço">
      <label for="inputAddress" class="form-label">Endereço</label>
      <input type="text" class="form-control" id="inputAddress" placeholder="1234 Main St">
    </div>

    <div class="Nascimento">
    <label for="inputAddress2" class="form-label">Nascimento</label>
    <input type="date" class="form-control" id="nasc" placeholder="Apartment, studio, or floor">
    </div>

    <div class="CPF">
      <label for="CPF" class="form-label">CPF</label>
      <input type="number" class="form-control" id="CPF" placeholder="000.000.000">
    </div>

    <div class="col-md-4">
      <label for="inputState" class="form-label">Em qual area você trabalha</label>
      <select id="inputState" class="form-select">
        <option selected>Choose...</option>
        <option>Full-stack</option>
        <option>Back-end</option>
        <option>Front-end</option>
      </select>
    </div>

    <div class="col-12">
      <div class="termos">
        <input class="form-check-input" type="checkbox" id="termos">
        <label class="form-check-label" for="termos">
        Aceitar os termos
        </label>
      </div>
    </div>
    <div class="col-12">
     <button type="submit" class="btn btn-primary">Enviar</button>
    </div>
  </form>
    </div>

  </div>

</body>
</html>