<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../CSS/style.css">
    <link href='https://unpkg.com/boxicons@2.1.1/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p" crossorigin="anonymous"/>
    <link rel="stylesheet" href="../bootstrap-icons/font/bootstrap-icons.css">
    <title>PS5</title>
</head>
<body>
    <div class="search-box">
        <input class="search-txt" type="text" name="" placeholder="Procurar...">
        <a class="search-btn" href="#">
        <i class='bx bx-search'></i>
    </a>
    </div>
   
    <div class="sidebar">
        <img class="ps5" src="../IMG/playstation.png">
        

        <!-- Barra de Pesquisa-->


        <div class="linha"></div>

        
        
        <ul class="nav-list">

            <li>
                <a href="#">
                <i class="fas fa-home"></i>
                <span class="cor-icon">Home</span>
                </a>
                <span class="cor-icon">Home</span>
            </li>
            
            <li> 
                <a href="#">
                <i class="fas fa-shopping-bag"></i>
                <span class="links_name">Loja</span>
                </a>
                <span class="cor-icon">Loja</span>
            </li>

            <li> 
                <a href="#">
                <i class="fas fa-gamepad"></i>
                <span class="links_name">Controle</span>
                </a>
                <span class="cor-icon">Controle</span>
            </li>

            <li> 
                <a href="#">
                <i class='bx bxs-camera'></i>
                <span class="links_name">Clipe</span>
                </a>
                <span class="cor-icon">Clipe</span>
            </li>

            <li> 
                <a href="#">
                <i class="fas fa-chart-pie"></i>
                <span class="links_name">Analytics</span>
                </a>
                <span class="cor-icon">Analytics</span>
            </li>

            <li> 
                <a href="#">
                <i class="fas fa-user"></i>
                <span class="links_name">Perfil</span>
                </a>
                <span class="cor-icon">Perfil</span>
            </li>
        </ul>
    </div>

    <div class="container-social">
        
        <div class="gradient">


            <div class="Social">            
                <p>Social</p>
            </div>

            <p class="restantes">12 min restantes</p>

            </div>
            <div class="gradient-rocket">
                <p class="Rocket-text">Rocket League update</p>
                <img class="porcentagem" src="../IMG/porcentagem.png">
            </div>
        <div class="online">
            <p>Online • 3</p>
            <img class="pain" src="../IMG/pain.jpg">

             <div class="yahiko">
            <p>zPrinted</p>
             </div>

             <div class="jogadores">
                 <p>Fortnite - Jogando Battle Royale</p>
             </div>
    
        </div>
      
       



        </div>
    </div>
</body>
</html>